---
import Section from "@/components/sections/Section.astro";
import { education } from "@cv";
import { courses } from "@cv";
import Computer from "@/icons/Computer.astro";
---

<Section title="Education & Training">
  <article>
    <ul>
      {
        education.map(({ institution, url, summary, title, skills, year }) => {
          return (
            <li class="section">
              <article>
                <header>
                  <div class="main">
                    <div class="header">
                      <Computer width="26px" height="16px" />
                      <h3 class="ml">{title}</h3>
                      <h3 class="ml">[{institution}]</h3>
                    </div>
                    <time class="pt">[{year}]</time>
                  </div>
                </header>
                <body>
                  <article class="summary">
                    <p>{summary}</p>
                  </article>
                </body>
                <footer>
                  <h5>Skills:</h5>
                  <ul class="skills">
                    {skills.map((skill) => {
                      return <li>{skill}</li>;
                    })}
                  </ul>
                </footer>
              </article>
            </li>
          );
        })
      }
    </ul>
  </article>
  <article class="courses">
    <header class="header">
      <Computer width="26px" height="16px" />
      <h3 class="ml">Relevant courses:</h3>
    </header>
    <footer>
      <ul>
        {
          courses.map(({ name, project, url, code, year }) => {
            return (
              <li class="section">
                <article>
                  <header>
                    <div class="main">
                      <div>
                        <h4 class="ml">
                          <span>&bull;</span>
                          {name}
                        </h4>
                        {project && (
                          <h5>
                            Project:{project}
                          </h5>
                        )}
                      </div>
                      <time class="pt">[{year}]</time>
                    </div>
                  </header>
                  <footer class="footer-course">
                    {url && (
                      <a
                        class="button-link"
                        href={url}
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        Course
                      </a>
                    )}
                    {code && (
                      <a
                        class="button-link"
                        href={code}
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        GitHub Repo
                      </a>
                    )}
                  </footer>
                </article>
              </li>
            );
          })
        }
      </ul>
    </footer>
  </article>
</Section>

<style>
  .section {
    margin-bottom: 1rem;
  }

  .header {
    display: flex;
  }

  .ml {
    margin-left: 0.5rem;
  }

  a {
    padding: 2px;
  }

  p {
    text-indent: 2rem;
  }

  .main {
    display: flex;
    justify-content: space-between;
  }

  .skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .skills li {
    border-radius: 2px;
    margin: 2px;
    background: rgb(238, 236, 236);
    color: black;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
  }

  .pt{
    padding-top: 6px;
  }

  /* courses article styles */
  .courses {
    margin-top: 2rem;
  }

  .courses span {
    font-size: x-large;
    margin-right: 1rem;
  }

  .footer-course {
    display: flex;
    justify-content: start;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .button-link {
    background: rgb(238, 236, 236);
    color: black;
    border: 1px solid rgb(23, 22, 23);
    border-radius: 2px;
    padding: 7px;
    cursor: pointer;
    font-size: 0.8rem;
    box-shadow: inset 0 0 0 0 #f5da79;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }

  .button-link:hover {
    box-shadow: inset 400px 0 0 0 #f5da79;
  }

  @media print {
    .button-link {
      display: none;
    }
  }
</style>
