---
import Section from "@/components/sections/Section.astro";
import { education } from "@cv";
import Computer from "@/icons/Computer.astro";
---

<Section title="Education">
  <article>
    <ul>
      {
        education.map(({ institution, summary, title, skills, year }) => {
          return (
            <li class="section">
              <article>
                <div class="header">
                  <div>
                    <div class="d-inline mb">
                      <Computer width="26px" height="16px" />
                      <h3 class="ml">{title}</h3>
                    </div>
                    <h3 class="mb">[{institution}]</h3>
                  </div>
                  <time class="mb">[{year}]</time>
                </div>
                <body>
                  <article class="summary pt">
                    <p>{summary}</p>
                  </article>
                </body>
                <footer>
                  <h5>Skills:</h5>
                  <ul class="skills">
                    {skills.map((skill) => {
                      return <li>{skill}</li>;
                    })}
                  </ul>
                </footer>
              </article>
            </li>
          );
        })
      }
    </ul>
  </article>
</Section>

<style>
  .section {
    margin-bottom: 1rem;
  }

  .ml {
    margin-left: 0.5rem;
  }

  .mb {
    margin-bottom: 0.6rem;
  }

  p {
    text-indent: 2rem;
  }

  .d-inline {
    display: inline-flex;
    align-items: center;
  }

  .skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .skills li {
    border-radius: 2px;
    margin: 2px;
    background: rgb(238, 236, 236);
    color: black;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
  }

  .pt {
    padding-top: 6px;
  }
</style>
