---
import Section from "@/components/sections/Section.astro";
import Button from "@/components/Button.astro";
import { work } from "@cv";
import ApprovedIcon from "@/icons/Approved.astro";
---

<Section title="Practical Experience">
  <ul>
    {
      work.map(
        ({
          projectType,
          position,
          projectName,
          urlFrontend,
          urlFrontendGit,
          urlBackend,
          urlBackendGit,
          startDate,
          endDate,
          achievements,
        }) => {
          const startYear = new Date(startDate).getUTCFullYear();

          const endYear =
            endDate !== null ? new Date(endDate).getFullYear() : "Currently";
          const years = `${startYear} - ${endYear}`;
          return (
            <li>
              <article>
                <header>
                  <div>
                    <h3>{projectName}</h3>
                    <h4>
                      {position}
                      <span class="pl">({projectType})</span>
                    </h4>
                    <ul class="margin">
                      {achievements.map((taskList) => {
                        return (
                          <li>
                            <span>
                              <ApprovedIcon />
                            </span>
                            {taskList}
                          </li>
                        );
                      })}
                    </ul>
                  </div>
                  <time>{years}</time>
                </header>
                <footer>
                  <div>
                    {(urlFrontend || urlFrontendGit) && <h4>Frontend code:</h4>}
                    <div class="button-box">
                      <Button link={urlFrontend}>Website</Button>
                      <Button link={urlFrontendGit}>GitHub Repo</Button>
                    </div>
                  </div>
                  <div>
                    {(urlBackend || urlBackendGit) && <h4>Backend code:</h4>}
                    <div class="button-box">
                      <Button link={urlBackend}>Website</Button>
                      <Button link={urlBackendGit}>GitHub Repo</Button>
                    </div>
                  </div>
                </footer>
              </article>
            </li>
          );
        }
      )
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  a:hover {
    background-color: gold;
  }
  .pl {
    padding-left: 5px;
  }

  .margin {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .margin li {
    display: flex;
    align-items: center;
  }

  span {
    padding: 5px;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  article h4 {
    font-weight: 400;
    color: #222;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  header div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  time {
    color: #555;
    font-size: 0.85rem;
  }

  footer {
    margin-top: 0.3rem;
  }

  /* button */

  .button-box {
    display: flex;
    justify-content: start;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin: 10px 0px;
  }

  @media print {
    footer {
      display: none;
    }
  }
</style>
