---
import Section from "@/components/sections/Section.astro";
import Button from "@/components/Button.astro";
import { work } from "@cv";
import ApprovedIcon  from "@/icons/Approved.astro"
---

<Section title="Practical Experience">
  <ul>
    {
      work.map(({ projectType, position, projectName, urlFrontend, urlFrontendGit, urlBackend, urlBackendGit, startDate, endDate, achievements }) => {
        const startYear = new Date(startDate).getUTCFullYear();
        
        const endYear = endDate !== null ? new Date(endDate).getFullYear() : "Currently";
        const years = `${startYear} - ${endYear}`;
        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>{projectName}</h3>
                  <h4>{position}<span class="pl">({ projectType })</span></h4> 
                  <ul class="margin">
                    {achievements.map((taskList)=>{
                      return <li><span><ApprovedIcon/></span>{ taskList }</li>
                    })}
                  </ul>
                </div>
                <time>{years}</time>
              </header>
              <footer>
                <div >
                  {(urlFrontend || urlFrontendGit) && <h4>Frontend code:</h4>}
                  <div class="frontend">
                    <Button link={urlFrontend} >Website</Button>
                    <Button link={urlFrontendGit} >GitHub Repo</Button>
                  </div>
                </div>
                <div>
                  {(urlBackend || urlBackendGit) && <h4>Backend code:</h4>}
                  <div class="backend">
                    <Button link={urlBackend} >Website</Button>
                    <Button link={urlBackendGit} >GitHub Repo</Button>
                  </div>
                </div>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  a:hover{
    background-color: gold;
  } 
  .pl{
    padding-left: 5px;
  }

  .margin{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .margin li {
    display: flex;
    align-items: center;
  }
  
  span {
    padding: 5px;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  article h4 {
    font-weight: 400;
    color: #222;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  header div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  time {
    color: #555;
    font-size: 0.85rem;
  }

  footer {
    margin-top: 0.3rem;
  }

  /* button */

  .frontend,
  .backend
  {
    display: flex;
    justify-content: start;
    gap: .5rem;
    flex-wrap: wrap;
    margin: 10px 0px;
  }

  .button-link {
    background: rgb(238, 236, 236);
    color: black;
    border: 1px solid rgb(23, 22, 23);
    border-radius: 2px;
    padding: 7px;
    cursor: pointer;
    font-size: 0.8rem;
    box-shadow: inset 0 0 0 0 #f5da79;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    max-width: 30%;
    text-align: center;
  }

  .button-link:hover {
    box-shadow: inset 400px 0 0 0 #f5da79;
  }

  @media print {
    footer {
      display: none;
    }
  }
</style>
