---
import Section from "@/components/sections/Section.astro";
import { work } from "@cv";
import ApprovedIcon  from "@/icons/Approved.astro"
---

<Section title="Practical Experience">
  <ul>
    {
      work.map(({ name, position, FeaturedProject, urlFrontend, urlFrontendGit, urlBackend, urlBackendGit, startDate, endDate, summary, highlights }) => {
        const startYear = new Date(startDate).getUTCFullYear();
        
        const endYear = endDate !== null ? new Date(endDate).getFullYear() : "Currently";
        const years = `${startYear} - ${endYear}`;
        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>{position}<span class="project">({ name })</span></h3> 
                  <ul class="margin">
                    {summary.map((action)=>{
                      return <li><span><ApprovedIcon/></span>{ action }</li>
                    })}
                  </ul>
                </div>
                <time>{years}</time>
              </header>
              <footer>
                <h3 class="margin">Featured Project: {FeaturedProject}</h3>
                <h5>Frontend Deployment:<a href={urlFrontend}>{urlFrontend}</a></h5>
                <h5>Frontend Deployment Git:<a href={urlFrontendGit}>{urlFrontendGit}</a></h5>
                <h5>Backend Deployment: <a href={urlBackend}>{urlBackend}</a></h5>
                <h5>Backend Deployment: Git <a href={urlBackendGit}>{urlBackendGit}</a></h5>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  a:hover{
    background-color: gold;
  } 
  .project{
    padding-left: 5px;
  }

  .margin{
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .margin li {
    display: flex;
    align-items: center;
  }
  
  .margin span {
    padding-right: 5px;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  article h4 {
    font-weight: 400;
    color: #222;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  header div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  time {
    color: #555;
    font-size: 0.85rem;
  }

  footer {
    margin-top: 0.3rem;
  }
</style>
