---
import Section from "@/components/sections/Section.astro";
import Button from "@/components/Button.astro";
import { projects } from "@cv";
---

<Section title="Projects">
  <ul>
    {
      projects.map(
        ({ name, description, urlCode, demoUrl, highlights, isActive }) => {
          return (
            <li>
              <article>
                <header>
                  <a href={urlCode} title={`Watch the ${name} project`}>
                    <h3>{name}</h3>
                    {isActive && <span>&bull;</span>}
                  </a>
                  <div class="d-none">
                    {demoUrl !== null || undefined ? (
                      <Button link={demoUrl}>Project demo</Button>
                    ) : null}
                  </div>
                  <p>{description}</p>
                </header>
                <footer>
                  <ul>
                    {highlights.map((highlight) => {
                      return <li>{highlight}</li>;
                    })}
                  </ul>
                </footer>
              </article>
            </li>
          );
        }
      )
    }
  </ul>
</Section>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-inline: -16px;
  }

  article {
    border-radius: 8px;
    border: 1px solid #f2f2f2;
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 100%;
  }

  article header {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  span {
    color: #1cc338;
    font-size: x-large;
  }
  article header p {
    font-size: 0.8rem;
  }
  article a {
    color: #111;
    display: inline-flex;
  }

  article a:hover {
    text-decoration: underline;
  }
  footer ul {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 0.7rem;
    justify-content: center;
  }

  footer li {
    border-radius: 6px;
    background: #eee;
    color: #333;
    padding: 0.2rem 0.5rem;
  }

  @media print {
    .d-none {
      display: none;
    }
  }
</style>
